<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-base}">

<!-- CONTENT -->
<div layout:fragment="content">
    <div class="container">
        <div class="card shadow">
            <div class="card-header">
                <h3>Tạo suất chiếu</h3>
            </div>

            <div class="card-body">
                <form th:action="@{/admin/showtimes/create}"
                      method="post"
                      th:object="${showtimes}">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Phim
                            </label>

                            <select class="form-select"
                                    th:field="*{movieId}"
                                    id="movie">
                                <option value="">Chọn phim</option>

                                <option th:each="movie : ${movies}"
                                        th:value="${movie.movieId}"
                                        th:text="${movie.title}"
                                        th:attr="data-duration=${movie.duration}">
                                </option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">
                                Phòng
                            </label>

                            <select class="form-select"
                                    th:field="*{roomId}">
                                <option value="">Chọn phòng</option>

                                <option th:each="room : ${rooms}"
                                        th:value="${room.roomId}"
                                        th:text="${room.roomName}">
                                </option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label>
                                Giờ bắt đầu
                            </label>

                            <input
                                    type="datetime-local"
                                    class="form-control"
                                    th:field="*{startTime}"
                                    id="startTime">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label>
                                Giờ kết thúc
                            </label>

                            <input type="text" class="form-control" id="endTime" readonly>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label>
                                Giá vé
                            </label>

                            <input type="number" class="form-control" th:field="*{ticketPrice}">
                        </div>
                    </div>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            Lưu
                        </button>

                        <a th:href="@{/admin/showtimes}" class="btn btn-secondary">
                            Quay lại
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/showtime.js}"></script>
</div>
</html>