<div th:fragment="pagination(page, baseUrl)">
    <nav th:if="${page.totalPages > 1}">
        <ul class="pagination justify-content-center mt-4">

            <li class="page-item"
                th:classappend="${page.first} ? 'disabled'">
                <a class="page-link"
                   th:href="@{${baseUrl}(page=${page.number - 1})}">
                    Trước
                </a>
            </li>

            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:classappend="${i == page.number} ? 'active'">

                <a class="page-link"
                   th:href="@{${baseUrl}(page=${i})}"
                   th:text="${i + 1}">
                </a>
            </li>

            <li class="page-item"
                th:classappend="${page.last} ? 'disabled'">
                <a class="page-link"
                   th:href="@{${baseUrl}(page=${page.number + 1})}">
                    Sau
                </a>
            </li>

        </ul>
    </nav>
</div>