<div th:fragment="pagination(pageData, baseUrl)">
    <nav th:if="${pageData != null and pageData.totalPages > 1}">
        <ul class="pagination justify-content-center mt-4">

            <!-- Previous -->
            <li class="page-item"
                th:classappend="${pageData.first} ? 'disabled'">
                <a class="page-link"
                   th:href="${baseUrl + '?page=' + (pageData.number - 1)}">
                    Trước
                </a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, pageData.totalPages - 1)}"
                th:classappend="${i == pageData.number} ? 'active'">

                <a class="page-link"
                   th:href="${baseUrl + '?page=' + i}"
                   th:text="${i + 1}">>
                </a>
            </li>

            <!-- Next -->
            <li class="page-item"
                th:classappend="${pageData.last} ? 'disabled'">
                <a class="page-link"
                   th:href="${baseUrl + '?page=' + (pageData.number + 1)}">
                    Sau
                </a>
            </li>

        </ul>
    </nav>
</div>
