<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/dashboard-base}">

<!-- CONTENT -->
<div layout:fragment="content">
    <form th:action="@{/profile/change-password}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">

        <div class="mb-3">
            <label>Mật khẩu hiện tại</label>
            <input type="password"
                   name="currentPassword"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label>Mật khẩu mới</label>
            <input type="password"
                   name="newPassword"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label>Xác nhận mật khẩu mới</label>
            <input type="password"
                   name="confirmPassword"
                   class="form-control">
        </div>

        <button class="btn btn-primary">
            Đổi mật khẩu
        </button>

    </form>
</div>
</html>
