<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/dashboard-base}">


<!-- CONTENT -->
<div layout:fragment="content">
    <div class="container mx-auto">
        <div class="profile-card">
            <h3 class="text-center mb-4">Thông tin cá nhân</h3>

            <form th:action="@{/profile/update}"
                  th:object="${user}"
                  method="post"
                  enctype="multipart/form-data">

                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                    <!-- Username -->
                    <div class="col-md-6 mb-3 sm:col-span-4">
                        <label class="form-label">Tên đăng nhập</label>
                        <input type="text"
                               class="form-control readonly-field"
                               th:value="*{username}"
                               readonly>
                    </div>

                    <!-- Email -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Email</label>
                        <input type="email"
                               class="form-control readonly-field"
                               th:value="*{email}"
                               readonly>
                    </div>

                    <!-- Full Name -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Họ tên</label>
                        <input type="text"
                               class="form-control"
                               th:field="*{fullName}">
                    </div>

                    <!-- Phone -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Điện thoại</label>
                        <input type="text"
                               class="form-control"
                               th:field="*{phone}">
                    </div>

                    <!-- Gender -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Giới tính</label>
                        <div class="mt-2 grid grid-cols-1">
                            <select th:field="*{gender}" id="gender" name="gender" autocomplete="gender" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                                <option value="">-- Select --</option>

                                <option th:each="g : ${genders}"
                                        th:value="${g}"
                                        th:text="${g.label}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <!-- Birthday -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Ngày sinh</label>
                        <input type="date"
                               class="form-control"
                               th:field="*{birthday}">
                    </div>

                    <!-- Address -->
                    <div class="col-12 mb-4">
                        <label class="form-label">Địa chỉ</label>
                        <textarea class="form-control"
                                  rows="3"
                                  th:field="*{address}"></textarea>
                    </div>

                    <!-- Ảnh đại diện -->
                    <div class="col-12 mb-4 text-center">

                        <label class="form-label">Ảnh đại diện</label>

                        <!-- upload file -->
                        <input type="file"
                               id="avatarFile"
                               name="avatarFile"
                               accept="image/*"
                               class="form-control">

                    </div>

                </div>

                <div class="text-center mb-4">
                    <button type="submit"
                            class="btn btn-primary btn-save">
                        Lưu thay đổi
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>
<script>
    //Khi có sự kiện change của input file
    document.getElementById('avatarFile')
        .addEventListener('change', function (e) {

            const file = e.target.files[0];

            if (file) {
                document.getElementById('avatarPreview').src =
                    URL.createObjectURL(file);
            }
        });
</script>
</html>