<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-base}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/history.css}">
</th:block>
<div layout:fragment="content">
    <div class="container py-5 text-dark">
        <h2>LỊCH SỬ ĐẶT VÉ</h2>
        <div th:if="${success}" class="alert alert-success mt-3" role="alert" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}"></div>
        <div class="card mt-3"
             th:each="history : ${histories}">
            <div class="header">
                <span class="movie"
                      th:text="${history.movieTitle}">
                </span>
                <span class="status"
                      th:text="${history.bookingStatus}">
                </span>
            </div>

            <div class="content">
                <p>
                    <strong>Suất chiếu:</strong>
                    <span th:text="${#temporals.format(history.startTime,'dd/MM/yyyy HH:mm')}"></span>
                    -
                    <span th:text="${#temporals.format(history.endTime,'HH:mm')}"></span>
                </p>

                <p>
                    <strong>Phòng:</strong>
                    <span th:text="${history.roomName}"></span>
                </p>

                <p>
                    <strong>Ghế:</strong>
                    <span th:text="${history.bookingSeat}"></span>
                </p>

                <p>
                    <strong>Thanh toán:</strong>
                    <span th:text="${history.paymentMethod}"></span>
                </p>

                <p>
                    <strong>Tổng tiền:</strong>
                    <span th:text="${#numbers.formatDecimal(history.totalAmount,0,'COMMA',0,'POINT')}"></span>
                    VNĐ
                </p>

                <p>
                    <strong>Ngày đặt:</strong>
                    <span th:text="${#temporals.format(history.bookingDate,'dd/MM/yyyy HH:mm')}"></span>
                </p>
            </div>
        </div>
    </div>
</div>
</html>