<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-base}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user.css}">
</th:block>

<div layout:fragment="content">
    <div class="container-fluid py-4">
        <h2>Vé của tôi</h2>

        <div class="card mb-3" th:each="b : ${bookings}">
            <div class="card-body">

                <h5 th:text="${b.movieTitle}"></h5>

                <p>
                    Ghế:
                    <span th:text="${b.seatCodes}"></span>
                </p>

                <p>
                    Suất:
                    <span th:text="${#temporals.format(b.startTime,'dd/MM HH:mm')}"></span>
                </p>

                <p>
                    Tổng tiền:
                    <b th:text="${b.totalPrice}"></b>
                </p>

            </div>
        </div>
    </div>
</div>
</html>