<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-base}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user.css}">
</th:block>
<body></body>
<div layout:fragment="content">
    <div class="container-fluid py-4">

        <h2 class="page-title" th:text="${movie.title}">
            Chọn suất chiếu
        </h2>

        <div class="row g-3">
            <div th:if="${#lists.isEmpty(showtimes)}" class="col-12 text-center py-5">
                <p class="text-muted fs-5">Hiện tại chưa có suất chiếu nào cho bộ phim này. Vui lòng quay lại sau!</p>
                <a th:href="@{/home}" class="btn btn-secondary mt-2">Quay lại trang chủ</a>
            </div>

            <div class="col-md-4"
                 th:unless="${#lists.isEmpty(showtimes)}"
                 th:each="showtime : ${showtimes}">

                <div class="card showtime-card p-3">

                    <h5 class="showtime-movie"
                        th:text="${showtime.movieTitle}">
                    </h5>

                    <p class="showtime-info">
                        <i class="fa fa-clock"></i>

                        <span th:text="${#temporals.format(showtime.startTime,'dd/MM HH:mm')}"></span>
                    </p>

                    <p class="showtime-info">
                        <i class="fa fa-door-open"></i>

                        <span th:text="${showtime.roomName}"></span>
                    </p>

                    <p class="showtime-price">
                        <strong th:text="${showtime.ticketPrice + ' VND'}"></strong>
                    </p>

<!--                    <div th:if="${showtime.soldOut}" class="mb-2">-->
<!--                        <span class="badge bg-danger w-100 py-2">-->
<!--                            Hết vé-->
<!--                        </span>-->
<!--                    </div>-->

                    <a th:unless="${showtime.soldOut}"
                       th:href="@{/user/bookings/showtime/{id}(id=${showtime.showtimeId})}"
                       class="btn btn-outline-danger w-100">
                        Xem sơ đồ ghế
                    </a>

                    <button th:if="${showtime.soldOut}"
                            class="btn btn-secondary w-100"
                            disabled>
                        Hết vé
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>