<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-base}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</th:block>

<!-- CONTENT -->
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="overview d-flex justify-content-between align-items-center mb-4">
            <div class="overview-title">
                <h2>Danh sách phim</h2>
                <p>Quản lý thông tin phim trong hệ thống</p>
            </div>

            <a th:href="@{/admin/movies/create}" class="btn-add-primary">
                <span>+</span>
                <span>Thêm phim</span>
            </a>
        </div>

        <div class="movie-table-wrapper">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Poster</th>
                    <th>Tên phim</th>
                    <th>Thời lượng</th>
                    <th>Ngày phát hành</th>
                    <th>Ngôn ngữ</th>
                    <th>Độ tuổi</th>
                    <th>Trạng thái</th>
                    <th>Thể loại</th>
                    <th>Thao tác</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="movie : ${movies}">
                    <td th:text="${movie.movieId}"></td>

                    <td>
                        <img th:if="${movie.posterUrl != null}"
                             th:src="${movie.posterUrl}"
                             width="80"
                             alt="Poster">
                    </td>

                    <td th:text="${movie.title}"></td>

                    <td>
                        <span th:text="${movie.duration}"></span> phút
                    </td>

                    <td th:text="${movie.releaseDate}"></td>

                    <td th:text="${movie.language}"></td>

                    <td th:switch="${movie.ageRating}">
                        <span th:case="'P'" class="badge bg-success px-2 py-1">Mọi lứa tuổi</span>
                        <span th:case="'K'" class="badge bg-primary px-2 py-1">Dưới 13 tuổi có CMHD</span>
                        <span th:case="'T13'" class="badge bg-warning text-dark px-2 py-1">Trên 13 tuổi</span>
                        <span th:case="'T16'" class="badge bg-danger px-2 py-1">Trên 16 tuổi</span>
                        <span th:case="'T18'" class="badge px-2 py-1" style="background-color: #A61A19; color: white;">Trên 18 tuổi</span>
                        <span th:case="*" th:text="${movie.ageRating}" class="badge bg-secondary"></span>
                    </td>

                    <td>
                        <span class="status-active"
                              th:if="${movie.status.name() == 'NOW_SHOWING'}">
                            Đang chiếu
                        </span>

                        <span class="status-coming"
                              th:if="${movie.status.name() == 'COMING_SOON'}">
                            Sắp chiếu
                        </span>

                        <span class="status-ended"
                              th:if="${movie.status.name() == 'ENDED'}">
                            Ngừng chiếu
                        </span>
                    </td>

                    <td>
                       <span class="genre-tag"
                             th:each="genre : ${movie.genres}"
                             th:text="${genre}">
                        </span>
                    </td>

                    <td>
                        <a th:href="@{/admin/movies/edit/{id}(id=${movie.movieId})}"
                           class="btn btn-warning btn-sm">
                            Sửa
                        </a>

                        <form th:action="@{/admin/movies/delete/{id}(id=${movie.movieId})}"
                              method="post"
                              style="display:inline;">
                            <button type="submit"
                                    class="btn btn-danger btn-sm"
                                    onclick="return confirm('Bạn có chắc muốn xóa phim này?')">
                                Xóa
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--  PAGINATION -->
    <div th:replace="~{layouts/pagination :: pagination(${pageData}, ${baseUrl})}"></div>
</div>

</html>
