<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</th:block>

<div layout:fragment="content">
    <!--  SECTION HERO  -->
    <section class="cinema-hero text-center text-white">
        <div class="container">
            <h1 class="display-3 fw-bold mb-4">
                Smart Cinema
            </h1>

            <p class="fs-4 text-light mb-4">
                Đặt vé phim trực tuyến mọi lúc mọi nơi
            </p>

            <a
               class="btn btn-danger btn-lg px-4">
                Khám phá phim
            </a>
        </div>
    </section>

    <!--  SECTION QUICK-BOOKING  -->
    <section class="quick-booking container">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <select class="form-select">
                            <option>Chọn phim</option>
                        </select>
                    </div>

                    <div class="col-md">
                        <select class="form-select">
                            <option>Chọn rạp</option>
                        </select>
                    </div>

                    <div class="col-md">
                        <input type="date" class="form-control">
                    </div>

                    <div class="col-md">
                        <button class="btn btn-danger w-100">
                            Đặt vé
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  SECTION OVERVIEW-MOVIE  -->
    <section class="overview-movie container py-5">
        <div class="movie-grid">
            <div class="card movie-card" th:each="movie : ${movies}">
                <div class="poster-wrapper">
                    <img th:src="${movie.posterUrl}" class="movie-poster">
                </div>

                <div class="card-body d-flex flex-column">
                    <!-- TITLE -->
                    <h5 class="movie-title" th:text="${movie.title}"></h5>
                    <!-- PUSH BUTTONS DOWN -->
                    <div class="mt-auto d-flex gap-2">
                        <a th:href="@{/movies/{id}(id=${movie.movieId})}"
                           class="btn btn-light flex-fill">
                            Chi tiết
                        </a>

                        <!-- Chưa đăng nhập -->
                        <a sec:authorize="isAnonymous()"
                           th:href="@{/login}"
                           class="btn btn-danger flex-fill">
                            Đặt vé
                        </a>

                        <!-- Đã đăng nhập -->
                        <a sec:authorize="hasRole('USER')"
                           th:href="@{/user/movies/{id}/showtimes(id=${movie.movieId})}"
                           class="btn btn-danger flex-fill">
                            Đặt vé
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  PAGINATION -->
    <div th:replace="~{layouts/pagination :: pagination(${pageData}, ${baseUrl})}"></div>
</div>
</html>